<style type="text/css">
<!--
.style1 {font-weight: bold}
-->
</style>
<p><strong>November 18, 2019</strong>: Reverb Effect Podcast "Archive Magic: Uncovering Voices of the Past" features UCSB cylinders <a href="https://lsa.umich.edu/history/reverbeffect/episode2.html">online.</a> </p>
<p><strong>November 4, 2019</strong>: Spokenweb Podcast: "Sound Recordings are Weird" interviews Project Director <a href="https://spokenweb.ca/podcast/episodes/sound-recordings-are-weird/">online.</a> </p>
<p><strong>October 24, 2017</strong>: Cylinder Audio Archive moves to new <a href="alma.php">back-end database.</a> </p>
<p><strong>April 20, 2017</strong>: Arreola Family Collection of Mexican and Cuban Cylinders in the Lynn Andersen Collection <a href="andersen.php">now online.</a> </p>
<p><strong>June 12, 2016</strong>: Newly digitized cylinders will be posted on <a href="https://www.facebook.com/cylinder.project/">Facebook</a> daily beginning Monday June 13.</p>
<p><strong>May 23, 2016:</strong> Debus family donates collection of <a href="http://www.library.ucsb.edu/news/2016/05/debus-family-donates-rare-records-collection">rare recordings</a>. </p>
<p><strong>November 25, 2015:</strong> New <a href="mexico.php">playlist of Mexican cylinders</a> now online. </p>
<p><strong>November 15, 2015</strong>: Help our preservation efforts! Select from <a href="/search.php?query_type=keyword&query=not+digitized&nq=1">over 2,000 cylinders</a> available for <a href="adopt.php">adoption</a></p>
<p><strong>November 12, 2015</strong>: Listen to the <a href="bbc.php">complete recordings</a> featured on <a href="http://www.bbc.co.uk/programmes/p037tf3v">BBC Newsday</a>. </p>
<p><strong>November 9, 2015</strong>: 150  <a href="http://cylinders.library.ucsb.edu/history-everlasting.php">U.S. Everlasting</a> cylinders digitized and online </p>
<p><strong>October 13, 2015:</strong> Website <a href="relaunch.php">relaunched</a> as UCSB Cylinder Audio Archive </p>
<p><strong>March 15, 2015: </strong><a href="homewax.php">Vernacular wax cylinder collection</a> added to <a href="http://www.loc.gov/programs/national-recording-preservation-board/recording-registry/">National Recording Registry</a></p>
<p><strong>August 12, 2014:</strong> Bastide collection of French brown wax cylinders acquired</p>
<p><strong>April 2013:</strong> Collection of US  Everlasting cylinders acquired</p>
<p><strong>August 2012:</strong> Collection of&nbsp;<a href="history-lioret.php">Lioret cylinders</a>&nbsp;added  to the archive</p>
<p><strong>August 2011:</strong> Collection of rare Columbia  Italian operatic cylinders acquired</p>
<p><strong>March 2011:</strong> New thematic playlist  &quot;<a href="accordion.php">Squeezebox Cylinder Recordings</a>&quot; online       now in Podcast form</p>
<p><strong>December 2010:</strong> New thematic playlist &quot;<a href="incunabula2.php">Recorded Incunabula,  Part II</a>&quot; online</p>
<p><strong>September 2010:</strong> GRAMMY Foundation funds  digitization of&nbsp;<a href="grammy_additions.php">1,000 Cylinders</a></p>
<p><strong>September 2010:</strong> New thematic playlist  &quot;<a href="getty.php">Operatic Cylinders  from the Getty Collection</a>&quot; online</p>
<p><strong>March 2010:</strong> Library acquires&nbsp;<a href="pecourt.php">Edouard Pecourt collection</a>&nbsp;of  French cylinders</p>
<p><strong>August 2009:</strong> &quot;<a href="adopt.php">Adopt a Cylinder&quot;  program</a>&nbsp;preserves our recorded heritage</p>
<p><strong>April 2009:</strong> CPDP awarded a $20,000&nbsp;<a href="grammy_additions.php">GRAMMY&reg;&nbsp;Foundation  grant</a>&nbsp;to catalog, conserve, and digitize 500 cylinders</p>
<p><strong>January 2009:</strong> New thematic playlist &quot;<a href="incunabula.php">Recorded Incunabula  1891-1898</a>&quot; online</p>
<p><strong>September 2008:</strong> <a href="http://www.library.ucsb.edu/news/2008/09/darrell-baker-tina-arth-donation">Major  donation</a> will allow for acquisition of rare cylinders</p>
<p><strong>June 2008:</strong> <a href="newadditions-june2008.php">350 new  cylinders added</a></p>
<p><strong>June 2008:</strong> CPDP named one of the&nbsp;<a href="http://www.time.com/time/specials/2007/article/0,28804,1809858_1809954_1811319,00.html">50  best websites</a>&nbsp;of 2008 by TIME Magazine</p>
<p><strong>April 2007:</strong> New&nbsp;thematic playlist&nbsp;<a href="wwi.php">Popular Songs of World War I</a>&mdash;90th  Anniversary Special</p>
<p><strong>March 2007:</strong> <a href="newadditions-march2007.php">100  new cylinders added</a></p>
<p><strong>March 2007:</strong> Library's  oldest (1894) cylinder now online</p>
<p><strong>March 2007:</strong> New&nbsp;thematic playlist:&nbsp;<a href="december1908.php">Advance List for  December 1908</a></p>
<p><strong>September 2006:</strong> CPDP selected as September&nbsp;<a href="https://scout.wisc.edu/report/2006/0901">Internet Scout Report Selection</a></p>
<p><strong>March 2006:</strong> New section on the&nbsp;<a href="history.php">history of the cylinder</a>&nbsp;now  online</p>
<p><strong>January 2006:</strong> New&nbsp;thematic playlist&nbsp;<a href="cakewalks.php">Cakewalks and Rags</a>&nbsp;now  online</p>
<p><strong>December 2005:</strong> New&nbsp;thematic playlist&nbsp;<a href="deutschekomische.php">Deutsche komische  Zylinder</a>&nbsp;(German Comic Cylinders) now online</p>
<p><strong>November 2005:</strong> New&nbsp;thematic playlist&nbsp;<a href="blackartists.php">Early Black Artists  and Composers</a>&nbsp;now online</p>
<h2><strong>Press Mentions</strong></h2>
<p><strong>November 22, 2015: </strong><a href="http://www.publico.pt/culturaipsilon/noticia/universidade-da-california-oferecenos-a-musica-e-o-quotidiano-de-ha-um-seculo-1715242">Universidade da Calif&oacute;rnia oferece-nos a m&uacute;sica e o quotidiano de h&aacute; um s&eacute;culo</a> (<a href="http://www.publico.pt/culturaipsilon/noticia/universidade-da-california-oferecenos-a-musica-e-o-quotidiano-de-ha-um-seculo-1715242">Pulblico</a>) </p>
<p><strong>November 21, 2015:</strong> <a href="http://www.spiegel.de/netzwelt/web/occupied-the-fall-simple-savr-kostenlos-im-internet-a-1063767.html">Kostenloskultur: Hundert Jahre alter Jazz: Das Wachszylinder-Archiv</a> (<a href="http://www.spiegel.de">Spiegel Online</a>) </p>
<p><strong>November 20, 2015:</strong> <a href="This Project Is Digitizing Wax Cylinders So You Can Listen Like It's 1880">This Project Is Digitizing Wax Cylinders So You Can Listen Like It's 1880</a> (<a href="http://motherboard.vice.com">VICE Motherboard</a>) </p>
<p><strong>November 13, 2015: </strong><a href="http://historybuff.com/4-weird-wonderful-recordings-ucsb-cylinder-audio-archive/">4 Weird and Wonderful Old Recordings From Wax Cylinders</a> (<a href="http://historybuff.com">Historybuff</a>) </p>
<p><strong>November 12, 2015:</strong> <a href="http://www.bbc.co.uk/programmes/p037tf3v">Thousands of 100-year-old wax cylinder recordings now available to download</a> <a href="http://www.bbc.co.uk">(BBC Newsday</a>) </p>
<p><strong>November 12, 2015:</strong> <a href="http://www.linkiesta.it/it/article/2015/11/12/voci-e-suoni-di-120-anni-fa-registrati-in-cilindri-di-cera/28150/">Voci e suoni di 120 anni fa, registrati in cilindri di cera</a> (<a href="http://www.linkiesta.it">Linkiesta</a>) </p>
<p><strong>November 12, 2015:</strong> <a href="http://www.hispasonic.com/noticias/viaja-tiempo-archivo-digital-grabaciones-cilindro-fonografico-ucsb-library/41294">Viaja en el tiempo con el archivo digital de grabaciones de cilindro fonogr&aacute;fico de la UCSB Library</a> (<a href="http://www.hispasonic.com">Hispasonic</a>) </p>
<p><strong>November 11, 2015: </strong><a href="http://www.csmonitor.com/Technology/2015/1111/From-wax-cylinders-to-the-cloud-How-to-preserve-data-for-the-long-term">From wax cylinders to 'the cloud': How to preserve data for the long term</a> (<a href="http://www.csmonitor.com">Christian Science Monitor</a>) </p>
<p><strong>November 10, 2015</strong>: <a href="http://www.geek.com/news/10000-historic-phonograph-cylinder-audio-recordings-hit-the-web-for-free-1639065/">10,000 historic phonograph cylinder audio recordings hit the web for free</a> <a href="http://www.geek.com">(Geek.com</a>) </p>
<p><strong>November 10, 2015: </strong><a href="http://www.spidersweb.pl/2015/11/woskowe-cylindry-archiwum.html">Co&#347; niesamowitego. Pos&#322;uchaj, jak brzmi muzyka z 10 tysi&#281;cy woskowych cylindr&oacute;w</a> (<a href="http://www.spidersweb.pl">Spidersweb</a>) </p>
<p><strong>November 9, 2015:</strong> <a href="http://www.smithsonianmag.com/smart-news/found-ultimate-olden-timey-playlist-180957231/?no-ist">Now Available: The Ultimate Old-Timey Playlist</a> (<a href="http://www.smithsonianmag.com">Smithsonian.com</a>) </p>
<p><strong>November 9, 2015</strong>: <a href="http://www.engadget.com/2015/11/10/wax-cylinder-digitize/">A university is digitizing thousands of wax cylinder records</a> (<a href="http://www.engadget.com">Engadget</a>) </p>
<p><strong>November 9, 2015</strong>: <a href="http://www.openculture.com/2015/11/download-10000-of-the-first-recordings-of-music-ever-made-courtesy-of-the-ucsb-cylinder-audio-archive.html">Download 10,000 of the First Recordings of Music Ever Made, Courtesy of the UCSB Cylinder Audio Archive</a> (<a href="http://www.openculture.com/">Openculture</a>) </p>
<p><strong>November 9, 2015:</strong> <a href="https://www.inverse.com/article/7966-stream-10-000-rad-vintage-wax-cylinder-recordings-from-the-ucsb-library">Stream 10,000 Rad Vintage Wax Cylinder Recordings from the UCSB Library</a> (<a href="https://www.inverse.com">Inverse</a>) </p>
<p><strong>November 9, 2015</strong>: <a href="http://www.cnet.com/news/thousands-of-hundred-year-old-audio-recordings-available-to-stream/">Thousands of 100-year-old wax cylinder recordings available to stream</a> (<a href="http://www.cnet.com">C|NET</a>) </p>
<p><strong>November 8, 2015</strong>: <a href="http://boingboing.net/2015/11/08/10000-wax-cylinders-digititze.html">10,000 wax cylinders digitized and free to download</a> (<a href="http://boingboing.net">boingboing</a>) </p>
<p><strong>November 4, 2015</strong>: <a href="http://hyperallergic.com/249190/an-archive-of-10000-cylinder-recordings-readied-for-the-spotify-era/">An Archive of 10,000 Cylinder Recordings Readied for the Spotify Era</a> (<a href="http://hyperallergic.com">Hyperallergic</a>) </p>
<p><strong>March 30, 2015</strong>. &quot;<a href="http://www.kclu.org/2015/03/30/rare-recordings-in-south-coast-collection-added-to-library-of-congress-registry/">Rare Recordings In South Coast Collection Added To Library Of Congress Registry</a>&quot; (<em><a href="http://www.kclu.org">KCLU</a></em>)</p>
<p><strong>March 29, 2015</strong>. <a href="http://www.newspress.com/Top/Article/article.jsp?Section=LOCAL&amp;ID=567240931498131467">&quot;History in Wax</a>.&quot; <a href="http://www.newspress.com"><em>(Santa Barbara News Press</em></a><em>)</em></p>
<p><strong>March 25, 2015</strong>. &quot;<a href="http://www.hollywoodreporter.com/news/steve-martin-doors-radiohead-albums-783734">Steve Martin, The Doors and Radiohead Albums Named to National Recording Registry</a>&quot; (<a href="http://www.hollywoodreporter.com"><em>Hollywood Reporter</em></a>)</p>
<p><strong>September 10, 2008</strong>. &quot;<a href="http://online.wsj.com/article/SB122100522362717305.html">Wax in My Ears: An Online Journey</a>&quot; (<em><a href="http://online.wsj.com/public/us">Wall Street Journal</a></em>)</p>
<p><strong>November 15, 2007</strong>. <a href="http://www.ocweekly.com/features/music-feedback/10-crucial-music-websites/28056/">10 Crucial Music Websites</a> (<a href="http://www.ocweekly.com/"><em>OC Weekly</em></a>) </p>
<p><strong>April 13, 2007</strong>. &quot;Unlocking Nation's Musical Memories: Pre-1972 Copyright Confusion Keeps Archives Out of Reach.&quot; (<em><a href="http://www.dailyjournal.com/">Los Angeles Daily Journal</a></em>)</p>
<p><strong>July 18, 2006</strong>. &quot;Vintage music available for download&quot; (<em><a href="http://www.wsj.com/">Wall Street Journal</a></em> also [Columbia, SC] <a href="http://www.thestate.com/"><em>The State</em></a>)</p>
<p><strong>June 2006</strong>. &quot;Party Like It's 1899!&quot; (<em>The Word</em>)</p>
<p><strong>May 22, 2006</strong>. &quot;<a href="http://www.telegraph.co.uk/news/worldnews/northamerica/usa/1519082/History-of-recording-waxes-lyrical-on-line.html">History             of recording waxes lyrical on-line</a>&quot; (<a href="http://www.telegraph.co.uk/">Daily Telegraph/Telegraph.co.uk</a>)</p>
<p><strong>May 16, 2006</strong>. &quot;Front             Row&quot; (<a href="http://www.bbc.co.uk/programmes/b006qsq5">BBC Radio 4</a>)</p>
<p><strong>May 13, 2006</strong>. &quot;Online             treasures for early music fans&quot; (<a href="http://www.thestar.com/"><em>Toronto               Star</em></a>)</p>
<p><strong>April 13, 2006</strong>. &quot;<a href="http://www.csmonitor.com/2006/0413/p13s02-stct.html">Historians             strive to save old sounds</a>&quot; (<a href="http://www.csmonitor.com/"><em>Christian               Science Monitor</em></a>)</p>
<p><strong>April 4, 2006</strong>. &quot;<a href="http://columbiaspectator.com/2006/04/04/cooking-clocks">Cooking             the clocks</a>&quot; (<a href="http://www.columbiaspectator.com/"><em>Columbia               Spectator</em></a>)</p>
<p><strong>April 2, 2006</strong>. &quot;The Sunday             Edition&quot; (<a href="http://www.cbc.ca/radio/thesundayedition">CBC Radio One</a>)</p>
<p><strong>April 1, 2006</strong>. &quot;Sidetrack:             April 2006&quot; (<a href="http://will.illinois.edu/sidetrack">WILL,               Champaign-Urbana, IL</a>)</p>
<p><strong>March 22, 2006</strong>. &quot;Web             search: It's all in the archive&quot; (<a href="http://www.startribune.com/"><em>Minneapolis               StarTribune</em></a>)</p>
<p><strong>March 20, 2006</strong>. &quot;Archaic             sounds caress modern ears&quot; (<a href="http://www.wired.com/">Wired               News</a>)</p>
<p><strong>March 19, 2006</strong>. &quot;<a href="http://www.nytimes.com/2006/03/19/arts/music/19rose.html">How             pop sounded before it popped</a>&quot; (<a href="http://www.nytimes.com/"><em>New               York Times</em></a>)</p>
<p><strong>March 17, 2006</strong>. &quot;<a href="http://www.nytimes.com/2006/03/16/arts/16iht-pop.html?_r=0">Listeners             rediscover Tin Pan Alley pop</a>&quot; (<a href="http://www.iht.com/"><em>International               Herald Tribune</em></a>)</p>
<p><strong>March 16, 2006</strong>. <a href="http://www.wnyc.org/story/38299-americas-forgotten-pop-legacy/">America's             forgotten pop legacy</a>, <a href="http://soundcheck.wnyc.org/">Soundcheck</a>, WNYC (New York). Interview with             Jody Rosen, Music Critic, Slate.com</p>
<p><strong>February 21, 2006</strong>. Morning News program  (<a href="http://www.kclu.org/">KCLU</a>)</p>
<p><strong>February 14, 2006</strong>. &quot;Cylinder             recordings from Edison's era find new life in podcasts&quot; (<a href="http://columbianewsservice.com/">Columbia               News Service</a>)</p>
<p><strong>February 13, 2006</strong>. &quot;Brief news items from around California&quot; (<em><a href="http://www.sfgate.com/">San             Francisco Chronicle</a></em>, <em><a href="http://www.mercurynews.com/">San               Jose Mercury News</a></em>, <em><a href="http://www.sanluisobispo.com/">San                 Luis Obispo Tribune</a></em>, <a href="http://www.montereyherald.com/"><em>Monterey                   County Herald</em></a>)</p>
<p><strong>February 13, 2006</strong>. &quot;Rare             recordings available online&quot; (<a href="http://www.contracostatimes.com/"><em>Contra               Costa Times</em></a>)</p>
<p><strong>February 13, 2006</strong>. &quot;Changing History&quot; (<a href="http://www.wsj.com/"><em>Wall             Street Journal</em></a>) </p>
<p class="style1">Historical material heading onto the Web isn't all               documents and images, either. Last November, 5,000 digitized wax-cylinder               recordings dating back to 1895 were posted online by the Cylinder               Preservation and Digitization Project at the University of California               at Santa Barbara. Among the recordings: Tin Pan Alley music, vaudeville               performances and advertisements from that time.</p>
<span class="style1"><strong>Seldom Heard</strong></span>
<p class="style1">Rick Altman, a professor of cinema and comparative                   literature at the University of Iowa, says that the digitized cylinders                   have been a blessing for his research work. He recently downloaded                   routines by Russell Hunting, a comedian around the turn of the 20th                   century whose recordings, until now, were nearly inaccessible. Mr.                   Altman has written extensively about silent-movie-era performers who                   specialized in making sounds to match the action on the screen --                   from chirping birds to foreign accents -- and says that many of these                   performers modeled their styles after Mr. Hunting's.</p>
<p class="style1">&quot;I had to write about this without ever having               heard him,&quot; Mr. Altman says. &quot;Now I'll have a better sense               of what people were looking for.&quot;</p>
<p><strong>February 12, 2006</strong>. &quot;<a href="http://www.newspress.com/Top/Article/article.jsp?Section=LOCAL&amp;ID=564680735852724232&amp;Archive=true">UCSB             puts historic recordings on Web</a>&quot; (<a href="http://www.newspress.com/"><em>Santa               Barbara News Press</em></a>)</p>
<p><strong>February 2, 2006</strong>. &quot;<a href="http://blogs.publicradio.org/futuretense/2006/02/preserving-frag.html">Preserving             fragile cylinder recordings</a>&quot; (American Public Media's <em><a href="http://www.publicradio.org/columns/futuretense/">Future               Tense</a></em>)</p>
<p><strong>January 20, 2006</strong>. &quot;<a href="http://dailynexus.com/2006-01-20/library-offers-early-recordings-online/">Library             offers early recordings online</a>&quot; (UCSB <a href="http://www.dailynexus.com/"><em>Daily               Nexus</em></a>)</p>
<p><strong>January 6, 2006</strong>. &quot;Party             Like it's 1899&quot; (<a href="http://www.ap.org/">Associated Press</a> ASAP             feature, also at <em>Austin               American-Statesman</em> (<a href="http://www.austin360.com/">Austin360.com</a>), <a href="http://www.insidenova.com/">InsideNova.com</a>, <a href="http://www.tampabay.com/"><em>Tampa Bay/St.                 Petersburg Times</em></a>, <a href="http://www.wacotrib.com/"><em>Waco                   Tribune-Herald</em></a>, <a href="http://www.chron.com/"><em>Houston                     Chronicle</em></a>, <a href="http://www.news-journal.com/"><em>Longview                       (TX) News-Journal</em></a>, <a href="http://www.reflector.com/"><em>Greenville                         (NC) Daily Reflector</em></a>, <a href="http://www.gjsentinel.com/"><em>Grand                           Junction Daily Sentinal</em></a>, <a href="http://www.rockymounttelegram.com/"><em>Rocky                             Mount (NC) Telegram</em></a>, <a href="http://lufkindailynews.com/"><em>Lufkin                               (TX) Daily News</em></a>, <a href="http://www.dailyadvance.com/"><em>Elizabeth                                 City (NC) Daily Advance</em></a>, <a href="http://www.marshallnewsmessenger.com/"><em>Marshall                                   (TX) News Messenger</em></a>, <a href="http://www.ajc.com/"><em>Atlanta                                     Journal-Constitution</em></a><em> et. al</em>)</p>
<p><strong>January 5, 2006</strong>. &quot;<a href="http://www.slate.com/id/2133842/?nav=tap3">The             Year in Culture: Judd Apatow, Noah Baumbach, Curtis Sittenfeld, and             others on 2005's most notable cultural happenings</a>&quot; (<a href="http://www.slate.com/"><em>Slate               Magazine</em></a>)</p>
<p><strong>January/February 2006</strong>. &quot;Family Historians are accustomed to silent searching             through history, but wouldn't it be nice if history actually said something             to us?&quot; <em>(<a href="http://www.ancestry.com/learn/library/magazines/default.aspx">Ancestry               Magazine</a>)</em></p>
<p><strong>December 23, 2005</strong>. &quot;Edison             Amberol&quot; (<a href="http://www.sycamorereview.com/">Sycamore Review</a>)</p>
<p><strong>December 21, 2005</strong>. &quot;<a href="http://www.seattleweekly.com/2005-12-21/music/home-listening-for-the-holidays/">Home Listening for the Holidays</a>&quot; (<em><a href="http://www.seattleweekly.com/">Seattle Weekly</a></em>)</p>
<p><strong>December 14, 2005</strong>. &quot;Whistle             a happy tune&quot; (<em><a href="http://www.usatoday.com/">USA Today</a></em>'s Tech_Space             blog)</p>
<p><strong>December 7, 2005</strong>. <a href="http://www.lineages.co.uk/2005/12/09/genealogy-today-podcasts-bring-genealogy-to-your-home-computer-or-ipod/">Genealogy             Today: Podcasts bring genealogy to your home computer or iPod</a> (Clark             County, Washington, <a href="http://www.columbian.com/"><em>Columbian</em></a>)</p>
<p><strong>November 23, 2005</strong>. &quot;What             Did Our Ancestors Listen To?&quot; (<a href="http://blog.eogn.com/">Eastman's               Online Genealogy Newsletter</a>)</p>
<p><strong>November 18, 2005</strong>. &quot;<a href="http://slashdot.org/article.pl?sid=05/11/19/022236&amp;tid=141&amp;tid=126">5000             Cylinder Recordings Placed Online</a>&quot; (<a href="http://slashdot.org/">Slashdot</a> discussion)</p>
<p><strong>November 18, 2005</strong>. &quot;<a href="http://cyberlaw.stanford.edu/blog/2005/11/university-california-santa-barbara-digitizes-over-5000-cylinders">University             of California, Santa Barbara Digitizes Over 5,000 Cylinders</a>&quot;             (Center for the Internet and Society <a href="http://cyberlaw.stanford.edu/blogs/levine/">Levine               Blog</a>)</p>
<p><strong>November 17, 2005</strong>. &quot;Wax             Cylinder Collection&quot; (CBC's &quot;<a href="http://www.cbc.ca/radio/asithappens">As               It Happens</a>&quot;)</p>
<p><strong>November 17, 2005</strong>. &quot;<a href="http://boingboing.net/2005/11/17/5000-music-cylinders.html">5000             music cylinders digitized and posted</a>&quot; (<a href="http://www.boingboing.net/">Boingboing.net</a>)</p>
<p><strong>November 17, 2005</strong>. &quot;<a href="http://www.ukulelia.com/">Digital Archive of             Cylinder Recordings</a>&quot; (<a href="http://ukulelia.com/">Ukulelia weblog</a>)</p>
<p><strong>November 16, 2005</strong>. &quot;<a href="http://www.ilxor.com/ILX/ThreadSelectedControllerServlet?boardid=41&amp;threadid=48024">Old             cylinder recordings (1890-1920) archive now online...</a>&quot; (Discussion             on <a href="http://www.ilxor.com/ILX/NewAnswersControllerServlet?boardid=41">I Love Music</a>)</p>
<p><strong>November 16, 2005</strong>. &quot;Treasure             Trove&quot; (The Anachronist             blog)</p>
<p class="style1">&quot;The UCSB site is astonishing: an expertly designed,               easily searchable trove of beautiful, weird, wonderful records, many               of them extremely rare...I can't help but suspect that we're watching               a turning of the scholarly tide; I think we'll see a lot more work               on The Other Roots Music in the coming years.&quot;</p>
